<header class="site-header">

  <div class="wrapper">
    <nav>
<!--       <a href="{{site.baseurl}}/">Home</a>
 -->      <a href="{{site.baseurl}}/gallery/">Gallery</a>
      <a href="{{site.baseurl}}/about/">About</a>
      <a href="/" class="logo"><img src="{{site.baseurl}}/img/logo.svg" width="150"></a>
<!--       <a href="{{site.baseurl}}/faq/index.html">FAQ</a>
 -->      <a href="{{site.baseurl}}/contact/">Contact</a>
      <a href="{{site.baseurl}}/testimonials/">Testimonials</a>
    </nav>
  </div>

</header>


