// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: ease-in-out all .25s;
}

html {
  background: $white;
}

body {
  @include sans;
  color: $text_color;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 21px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Pinyon Script', cursive;
  color: $midGrey; 
}

p {
  font-family: 'EB Garamond', serif;
  color: $darkGrey;
}

/*helpers*/
.text_center {
  text-align: center;

  img {
    display: block;
    margin: 10px auto;
  }
}

.site-header {
  background-image: url(../img/headerbg.png);
  nav {
    background-color: rgba(255, 255, 255, .65);
    text-align: center;
    padding: 2.5% 0;
    font-family: 'EB Garamond', serif;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      padding: 0 10px;
      color: $midGrey;

      &:hover {
        color: $blushDark;
      }
    }
  }
}

.img100 {
  width: 100%;
  height: auto;
}

/*gallery*/
.folio {
  position: relative;
  background-color: $blush;

  .description {
    text-align: center;
    transition: ease all .25s;
    font-family: 'Pinyon Script', cursive;
    font-size: 1.45em;
    position: absolute;
    top: 33.33%;
    width: 100%;
    color: $darkGrey;
    z-index: 5;
    display: block;
    opacity: 0;
  }

  &:hover {
    img {
      opacity: .25;
    }

    .description {
      opacity: 1;
    }
  }
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}