// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: ease-in-out all .25s;
}

html {
  background: $white;
}

body {
  @include sans;
  color: $text_color;
  font-family: $serif;
  font-size: 18px;
  line-height: 23px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $script;
  color: $midGrey; 
}

p {
  font-family: $serif;
  color: $darkGrey;
}

.divider {
    position: relative;
    padding: 30px 0;
    // height: 1px;
    // background-image: -webkit-linear-gradient(left, $lightGrey, $midGrey, $lightGrey);
    // background-image: -moz-linear-gradient(left, $lightGrey, $midGrey, $lightGrey);
    // background-image: -ms-linear-gradient(left, $lightGrey, $midGrey, $lightGrey);
    // background-image: -o-linear-gradient(left, $lightGrey, $midGrey, $lightGrey);
    img {
      background: white;
      position: absolute;
      margin: 0 auto;
      vertical-align: middle;
      width: 200px;
      text-align: center;
      left: 0;
      right: 0;
  }
}

/*helpers*/
.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}
.text_center {
  text-align: center;

  img {
    display: block;
    margin: 10px auto;
  }
}

.site-header {
  // background-image: url(../img/headerbg.png);
    padding:.5em;
    margin:0;
    position:fixed;
    top:0;
    right:0;
    left:0;
    border-bottom:1px solid $lightGrey;
    background:rgba(255,255,255,.8);
    z-index:3;
  nav {
    text-align: center;
    font-family: $serif;

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      padding: 0 10px;
      color: $midGrey;

      &:hover {
        color: $blushDark;
      }
    }
  }
}

.page-content {
  padding-top: 100px; 
}

.img100 {
  width: 100%;
  height: auto;
}

/*home page gallery teaser*/
.folio {
  position: relative;
  background-color: $blush;
  line-height: 0;

  .description {
    text-align: center;
    transition: ease all .25s;
    font-family: $script;
    font-size: 1.45em;
    position: absolute;
    top: 33.33%;
    width: 100%;
    color: $darkGrey;
    z-index: 5;
    display: block;
    opacity: 0;
  }

  &:hover {
    img {
      opacity: .25;
    }

    .description {
      opacity: 1;
    }
  }
}

.testimonial {
  background: $lightGrey;
  padding: 40px 40px 80px 40px;
  position: relative;
  min-height: 350px;

  cite {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    background-color: $midGrey;
    color: $lightGrey;
    padding: 10px;
  }
}

.pull-quote {
    float: right;
    font-size: 1.25em;
    line-height: 1.25em;
    margin-left: 25px;
    width: 35%;
    background: $lightGrey;
    padding: 25px;
    margin: 0;
    font-family: $script;
}

.contact {
  div {
    p {
      border-bottom: dotted 2px $lightGrey;
      padding: 10px 0;
      margin: 0;
      font-size: 1.25em;
    }
  }
}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}