/* 
  100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
  http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/

.lb-album {
    list-style-type: none;
    li {
        text-align: center;
        >a {
            display: block;
            width: 100%;
            position: relative;
            background: $lightGrey;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px 2px 2px 2px;
            img {
                width: 100%;
            }
            span {
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                text-align: center;
                line-height: 150px;
                color: rgba(27, 54, 81, 0.8);
                font-size: 24px;
                opacity: 0;
                filter: alpha(opacity=0);
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
                background: rgba($darkGrey, .7);
                -webkit-transition: opacity 0.3s linear;
                -moz-transition: opacity 0.3s linear;
                -o-transition: opacity 0.3s linear;
                -ms-transition: opacity 0.3s linear;
                transition: opacity 0.3s linear;
            }
            &:hover {
                span {
                    opacity: 1;
                    filter: alpha(opacity=99);
                    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
                }
            }
        }
    }
}

.lb-overlay {
    width: 0px;
    height: 0px;
    position: fixed;
    overflow: hidden;
    left: 0px;
    top: 0px;
    padding: 0px;
    z-index: 99;
    text-align: center;
    background: rgba($darkGrey, .85);
    color: white;
    >div {
        // position: relative;
        // color: rgba(27, 54, 81, 0.8);
        // width: 550px;
        // height: 80px;
        // margin: 40px auto 0px auto;
    }
    div {
        h3 {
            text-align: right;
            border-right: 1px solid rgba($lightGrey, 0.4);
            color: white;
            padding: 10px;
            span {
                font-size: 16px;
                font-family: 'Pinyon Script', cursive;                
                display: block;
            }
        }
        p {
            font-family: 'Pinyon Script', cursive;            
            font-size: 18px;
            text-align: left;
            float: left;
            color: white;
            padding: 10px;
        }
    }
    a.lb-close {
        background: rgba(0, 0, 0, 0.3);
        font-size: 1.5em;
        z-index: 1001;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        color: white;
        overflow: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    }
    img {
        max-height: 100%;
        position: relative;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        -ms-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        height: 100%;
    }
    &:target {
        width: auto;
        height: auto;
        bottom: 0px;
        right: 0px;
        padding: 20px 0;
        img {
            max-height: 400px;
            opacity: 1;
            filter: alpha(opacity=99);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
        }
        a.lb-close {
            opacity: 1;
            filter: alpha(opacity=99);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
        }
    }
    .lb-prev img,
    .lb-next img {
        opacity: 1;
        filter: alpha(opacity=99);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
        width: 32px;
        height: 18px;
        box-shadow: none;
    }
}

.lb-prev {
  text-align: right;
  text-decoration: none;
  color: white;
    img {
        width: 32px;
        height: 18px;
        vertical-align: middle;
        margin: 0 10px;
    }
    &:hover {
        opacity: 1;
        filter: alpha(opacity=99);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    }
}

.lb-next {
  text-align: left;
  text-decoration: none;
  color: white;
    img {
        width: 32px;
        height: 18px;
        vertical-align: middle;
        margin: 0 10px;
    }
    &:hover {
        opacity: 1;
        filter: alpha(opacity=99);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    }
}

x {
    &:-o-prefocus {
        height: 100%;
    }
}
