// Variables
// ---------------------------------------/
$lightGrey : #ECECED;
$midGrey   : #ABADB0;
$darkGrey  : #7B7C7F;
$blush     : #FDDED5;
$blushDark : #FBC0B0;


$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             $darkGrey;

// Styles
$text_color:        $darkGrey;

$script: 'Pinyon Script', cursive;
$serif: 'EB Garamond', serif;

// Font stack
$body-font: $serif;

// The base body size
$body-font-size: 18px !default;